body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}
.calculadora {
    width: 320px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.display {
    width: 100%;
    height: 90px;
    text-align: right;
    font-size: 36px;
    padding: 10px;
    border: 5px solid #fff;
    background: #e4e4e4;
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
    background: #ffffff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
button:hover {
    background: #e0e0e0;
}
.operador {
    background: #f9a825;
    color: white;
}
.operador:hover {
    background: #f57f17;
}
.igual {
    background: #007aff;
    color: white;
}
.igual:hover {
    background: #005ecb;
}
.funcao {
    background: #d9d9d9;
    color: black;
}
.funcao:hover {
    background: #ad9797;
}