body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #0056b3;
    padding: 10px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.container {
    padding: 20px;
    text-align: center;
}

.container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.container img:hover {
    transform: scale(1.1);
}